<html>
<head>
  <title>My Facebook Registration Page</title>
</head>
<body>
  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js">
  </script>

  <iframe src="http://www.facebook.com/plugins/registration.php?
             client_id=423061641058264&
             redirect_uri=http://localhost:8000/over/&
             fields=name,birthday,gender,location,email,first_name,last_name"
          scrolling="auto"
          frameborder="no"
          style="border:none"
          allowTransparency="true"
          width="100%"
          height="310px">
  </iframe>
</body>
</html>